<div class="developer" id = "devlop">
  <h1 class="dev_u">DEVELOPER'S</h1>

  <div class="body_card">

    <div class="container_card">

      <div class="card">
        <div class="imgBx">
          <img src="image/pushpak.jpeg" alt="">
        </div>
        <div class="content">
          <h2>Pushpak Jangela</h2>
          <p>Backend Developer</p>
          <div class="">
            <h5 class="icon_h5"><i class="fa-brands fa-instagram"></i><a class="icon_a" href="#"> : _pushpak_jangela_</a</h5>
          </div>
          <div class="">
            <h5 class="icon_h5"><i class="fa-regular fa-envelope"></i></i><a class="icon_a" href="#"> : rv910959291@gmail.com</a></h5>
          </div>
        </div>
      </div>


      <div class="card">
        <div class="imgBx">
          <img src="image/patelshaab.jpeg" alt="">
        </div>
        <div class="content">
          <h2>Neha Patel</h2>
          <p>Frontend Developer</p>
          <div class="">
            <h5 class="icon_h5" ><i class="fa-brands fa-instagram"></i><a class="icon_a" href="#"> : _neha_3109</a></h5>
          </div>
          <div class="">
              <h5 class="icon_h5"><i class="fa-regular fa-envelope"></i><a  class="icon_a " href="#"> : patelneha0739@gmail.com</a></h5>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="imgBx">
          <img src="image/kunal.beti.jpeg" alt="">
        </div>
        <div class="content">
          <h2>Kunal aswani</h2>
          <p>Frontend & Backend Developer</p>
          <div class="">
            <h5 class="icon_h5"><i class="fa-brands fa-instagram icon"></i><a class="icon_a" href="#"> : kunal._.aswani</a></h5>
          </div>
          <div class="">
            <h5 class="icon_h5"><i class="fa-regular fa-envelope"></i><aclass="icon_a" href="#"> : 89kunalaswani@gmail.com</a></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
