 <div id="marquee">
      
      <div id="marquee1">
        <div id="moving-text">
          <div class="con">
            <h1>Creative</h1>
            <div id="gola"></div>
            <h1>Project</h1>
            <div id="gola"></div>

            <h1>Professional</h1>
            <div id="gola"></div>
          </div>
          <div class="con">
            <h1>Creative</h1>
            <div id="gola"></div>
            <h1>Project</h1>
            <div id="gola"></div>

            <h1>Professional</h1>
            <div id="gola"></div>
          </div>
          <div class="con">
            <h1>Creative</h1>
            <div id="gola"></div>
            <h1>Project</h1>
            <div id="gola"></div>

            <h1>Professional</h1>
            <div id="gola"></div>
          </div>
          <div class="con">
            <h1>Creative</h1>
            <div id="gola"></div>

            <h1>Project</h1>
            <div id="gola"></div>

            <h1>Professional</h1>
            <div id="gola"></div>
          </div>
          <div class="con">
            <h1>Creative</h1>
            <div id="gola"></div>

            <h1>Project</h1>
            <div id="gola"></div>

            <h1>Professional</h1>
            <div id="gola"></div>
          </div>
        </div>

          
        </div>
      <div id="marquee2">
        <div id="moving-text">
          <div class="con">
            <h1>Creative</h1>
            <div id="gola"></div>
            <h1>Project</h1>
            <div id="gola"></div>

            <h1>Professional</h1>
            <div id="gola"></div>
          </div>
          <div class="con">
            <h1>Creative</h1>
            <div id="gola"></div>
            <h1>Project</h1>
            <div id="gola"></div>

            <h1>Professional</h1>
            <div id="gola"></div>
          </div>
          <div class="con">
            <h1>Creative</h1>
            <div id="gola"></div>
            <h1>Project</h1>
            <div id="gola"></div>

            <h1>Professional</h1>
            <div id="gola"></div>
          </div>
          <div class="con">
            <h1>Creative</h1>
            <div id="gola"></div>

            <h1>Project</h1>
            <div id="gola"></div>

            <h1>Professional</h1>
            <div id="gola"></div>
          </div>
          <div class="con">
            <h1>Creative</h1>
            <div id="gola"></div>

            <h1>Project</h1>
            <div id="gola"></div>

            <h1>Professional</h1>
            <div id="gola"></div>
          </div>
        </div>

          
        </div>
       
      </div>
    <div id="page2">
      <div id="artist">

        <div id="artist1">

          <div id="text1">
            <div id="text1nav">
              <h5>The Quotes</h5>
              <h6>3+</h6>
            </div>
            <h2>The small wisdom is like water in a glass clear, transparent, pure.</h2>
          </div>
          <div id="art1">
            <img src="./image/ravindra.jpg" alt="">
          </div>
            <h3>• Ravidra Nath Tagore ~</h3>

        </div>
        <div id="artist2">
          <div id="text2">
            <div id="text2nav">
              <h5>The Quotes</h5>
              <h6>3+</h6>
            </div>
            <h2>A room without book is like a body without a soul </h2>
            <!-- <h2>book is like a</h2> -->
            <!-- <h2>body without a soul</h2> -->
          </div>
          <div id="art2">
            <img src="./image/mar.jpg" alt="">
          </div>
          <h5 id="marcus">₰ Marcus Tullius Cicero</h5>
        </div>
        <div id="artist3">
          
          <div id="art3">
            <img src="./image/maha.avif" alt="">
          </div>
          <div id="text3nav">
              <h5>The Quotes</h5>
              <h6>3+</h6>
            </div>
            <h1>An ounce of patience is worth more than a tonne of preaching.</h1>
            <h4>Mahatma Gandhi ~</h4>
        </div>
      </div>
    </div>

   
