<div id="wallahmain">

  <div class = "wallah">
    <img src="/image/horse.jpg" alt="">
    <h3>The Phenomenal</h3>
    
    <h1>Everything is learnable</h1>
    <div id="wid1">
      <img src="/image/build1.avif" alt="">
    </div>
    <div id="wid2">
      <img src="/image/build2.avif" alt="">

    </div>
    <div id="wid3">
      <img src="/image/build3.avif" alt="">

    </div>
    <div id="widtext1">
      <h2 id="widt1h1">American Cruch</h2>
      <h4 id="widt1h3">KONOMEHOKOE</h4>
      <p id="wid1p">XV - XVII 89</p>
    </div>
    <div id="widtext2">
      <h2 id="widt1h1">Russian Cruch</h2>
      <h4 id="widt1h3">KONOMEHOKOE</h4>
      <p id="wid1p">XVI - XIV 93</p>
    </div>
    <div id="widtext3">
      <h2 id="widt1h1">Sydeny Cruch</h2>
      <h4 id="widt1h3">KONOMEHOKOE</h4>
      <p id="wid1p">XIV - XVI 91</p>
    </div>
    <div id="overlay"></div>
  </div>
  <!-- <img class="postimg" src="image/post2.jpg" alt=""> -->
  <!-- <br> -->
  <a href="/compose"><button class="middlebutton">POST</button> </i></a>
</div>