<div class = "wallah">
  <h2 class="middleh1">
    POST TODAY'S BLOG'S
  </h2>
  <img class="postimg" src="image/post2.jpg" alt="">
  <hr>
  <a href="/compose"><button class="middlebutton">POST</button> </i></a>
</div>
