<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sundown Studio</title>
    <!--  icon   -->
    <link
      rel="shortcut icon"
      href="https://www.rejouice.com/assets/favicon/favicon-32x32.png"
      type="image/x-icon"
    />
    <!-- swipre css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <!-- style.css -->
    <link rel="stylesheet" href="/css/styles.css">

    <!-- <link rel="stylesheet" href="style.css" /> -->

    <!-- gsap css style sheet -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"
    />

    <!-- locomotive css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css"
    />

    <!-- Rimix icons  -->
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>
  <body>
   <div id="main">
    <div id="page1">
        <nav>
            <div id="navh1">
                <h1>THE</h1>
                <h1>BLOG</h1>
                <h1>WEBSITE</h1>
            </div>
            <div id="navab">
              <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/contact">contact</a>
                <a href="/compose">compose</a>
                <a href="#">IMAGE BANK</a>
                <a href="#">DONATE</a>

            </div>
        </nav>
        <div id="pp1">
            <div id="pp11">
                <div id="first">
                    <div id="firstimg">
                      <img src="https://images.unsplash.com/photo-1579783902188-1dbf2b672dc8?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDJ8fHxlbnwwfHx8fHw%3D" alt="">
                    </div>
                    <h1 id="create">Creative</h1>
                </div>
                <div id="second">
                <h1 id="agency">Agency</h1>
                </div>
                <div id="third">
                  <div id="circle">
                    <img src="https://media.istockphoto.com/id/1731369011/photo/blue-and-red-mixed.jpg?s=612x612&w=0&k=20&c=NATq0nB42CzWN8GGysapLn0-JlcN7d48VMeKz9PjVMI=" alt="">
                  </div>
                  <h1 id="for" >for the</h1>

                </div>
                <div id="forth">

                  
                  <h1 id="ocean">Ocean</h1>
                  <div id="forth2">
                    <div id="f21">
                      <i class="ri-arrow-right-line"></i>
                    </div>
                    <div id="f22">
                      <h4>We're a superisingly <br> small nonprofit with</h4>
                      <h5>outrageously big ideas</h5>
                    </div>
                  </div>
                </div>
                <div id="semi">
                  <img src="https://media.istockphoto.com/id/1150699835/photo/magic-space-texture-pattern-looks-like-colorful-smoke.jpg?s=612x612&w=0&k=20&c=-GQP_di2PlRCwa5smyvM2DFPk10qmJNbCpl8bVLjBzA=" alt="">
                  </div>
                  

            </div>
           
        </div>
         <div id="cover">
                        <img src="https://images.unsplash.com/photo-1681519086515-0e4c51ee5e4c?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                  </div>
    </div>
    
   </div>


    <!-- locomotive-scroll -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>

     GSAP libarary -->
    <!-- <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/gsap.min.js"
      integrity="sha512-EZI2cBcGPnmR89wTgVnN3602Yyi7muWo8y1B3a8WmIv1J9tYG+udH4LvmYjLiGp37yHB7FfaPBo8ly178m9g4Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script> -->

    <!-- gsap ScrollTrigger  -->
    <!-- <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/ScrollTrigger.min.js"
      integrity="sha512-OzC82YiH3UmMMs6Ydd9f2i7mS+UFL5f977iIoJ6oy07AJT+ePds9QOEtqXztSH29Nzua59fYS36knmMcv79GOg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script> -->
  </body>
</html>
