<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />

    <title>Blog WEBSITE</title>
  </head>
  <body>

    <div class="banner" style ="background-image:url('')">
      <div class="bannernav">

    <nav class="navbar">
      <div class="contnav">
        <div class="navbar-header">
          <p class= " navbar-brand navbarp">DAILY <br> JOURNAL</p>
        </div>
          <ul class="nav navbar-nav navbar-right navbarp">
            <!-- 6 -->
            <li id="home"><a href="/">HOME</a></li>
            <li id="about"><a href="/about">ABOUT US</a></li>
            <li id="contact"><a href="/contact">CONTACT US</a></li>
          </ul>
  </div>
</nav>
</div>
      <div class="banner2">
<div id="pp1">
            <div id="pp11">
                <div id="first">
                    <div id="firstimg">
                      <img src="https://images.unsplash.com/photo-1579783902188-1dbf2b672dc8?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDJ8fHxlbnwwfHx8fHw%3D" alt="">
                    </div>
                    <h1 id="create">Creative</h1>
                </div>
                <div id="second">
                <h1 id="agency">Agency</h1>
                </div>
                <div id="third">
                  <div id="circle">
                    <img src="https://media.istockphoto.com/id/1731369011/photo/blue-and-red-mixed.jpg?s=612x612&w=0&k=20&c=NATq0nB42CzWN8GGysapLn0-JlcN7d48VMeKz9PjVMI=" alt="">
                  </div>
                  <h1 id="for" >for the</h1>

                </div>
                <div id="forth">

                  
                  <h1 id="ocean">Ocean</h1>
                  <div id="forth2">
                    <div id="f21">
                      <i class="ri-arrow-right-line"></i>
                    </div>
                    <div id="f22">
                      <h4>We're a superisingly <br> small nonprofit with</h4>
                      <h5>outrageously big ideas</h5>
                    </div>
                  </div>
                </div>
                <div id="semi">
                  <img src="https://media.istockphoto.com/id/1150699835/photo/magic-space-texture-pattern-looks-like-colorful-smoke.jpg?s=612x612&w=0&k=20&c=-GQP_di2PlRCwa5smyvM2DFPk10qmJNbCpl8bVLjBzA=" alt="">
                  </div>
                  

            </div>
           
        </div>
    </div>
    </div>
  </body>
</html>
