<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <div id="newabout">
  <nav class="cnavbar">
      <div class="ccontnav">
        <div class="cnavbar-header">
          <p class= " cnavbar-brand navbarp">DAILY <br> JOURNAL</p>
        </div>
          <ul class="nav navbar-nav navbar-right navbarp">
            <!-- 6 -->
            <li id="home"><a href="/">HOME</a></li>
            <li id="about"><a href="/about">ABOUT US</a></li>
            <li id="contact"><a href="/contact">CONTACT US</a></li>
          </ul>
  </div>
</nav>
        
  <div class = "cwallah">
    <img src="/image/horse.jpg" alt="">
    <h3>The Phenomenal</h3>
    
    <h1>Everything is learnable</h1>
    <div id="wid1">
      <img src="../image/patelshaab.jpeg" alt="">
    </div>
    <div id="wid2">
      <img src="../image/pushpak.jpeg" alt="">

    </div>
    <div id="wid3">
      <img src="../image/kunal.beti.jpeg" alt="">

    </div>
    <div id="widtext1">
      <h2 id="widt1h1">Neha Patel</h2>
      <h4 id="widt1h3">Front-end Developer</h4>
      <p id="wid1p">@_neha_3109</p>
    </div>
    <div id="widtext2">
      <h2 id="widt1h1">Pushpak Jangela</h2>
      <h4 id="widt1h3">Front-end and Backend Developer</h4>
      <p id="wid1p">@_pushpak_jangela_</p>
    </div>
    <div id="widtext3">
      <h2 id="widt1h1">Kulnal Aswani</h2>
      <h4 id="widt1h3">Backend Developer</h4>
      <p id="wid1p">@kunal_aswani</p>
    </div>
    <div id="overlay"></div>
  </div>
    </div>
</body>
</html>

